<!DOCTYPE html>
<html ng-app="ecommerceApp">
<head>


	<meta charset="UTF-8">
	<title>Document</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Heebo|Hind+Vadodara|Kanit|Nunito|Ubuntu+Condensed" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="css/styles.css">

	<script	 src="https://code.jquery.com/jquery-2.2.4.min.js"	 integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="	 crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://checkout.stripe.com/checkout.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="js/routes.js"></script>
	<script src="js/cookies.js"></script>
	<script type="text/javascript" src="js/mainController.js"></script>

</head>
<body ng-controller="ecommerceController">
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<img alt="Brand" src="css/images/brand.png">
				</a>
				<div id="welcome"><span id="welcome-text"></span></div>
			</div>
				
			<div id="navbar-collapse-1" class="collapse navbar-collapse">
				
				<ul class="nav navbar-nav navbar-right">
					<li><a data-toggle="modal" data-target="#register">Sign Up</a></li>
					<li><a data-toggle="modal" data-target="#login">Log In</a></li>
					<li><a ng-href="#/logout">Log Out</a></li>
				</ul>
			</div>
		</div>

	</nav>
	<div class="lower-nav nav nav-tabs sub-nav"
		<ul >
			<li role="presentation" class="active"><a ng-href="#/">Home</a></li>
			<li role="presentation"><a ng-href="#/options">Shop</a></li>
			<li role="presentation"><a ng-href="#/delivery">Delivery</a></li>
			<li role="presentation"><a ng-href="#/payment">Payment</a></li>
		</ul>
	</div>

	<!-- modal for register -->
	<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">REGISTER</h4>
	      </div>
	      <div class="modal-body">
			<div class="register-container">
				<div class="col-sm-12 descipt-wrapper">
					<form ng-submit="register()" id="registration-form">
						<div class="form-group col-md-12">
							<div class="col-md-10 col-md-offset-1">			
								<div class="input-group">
									<span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-user"></span></span>
									<input type="text" ng-model="username" placeholder="Enter your username" minlength="4" maxlength="50" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group col-md-12">
							<div class="col-md-10 col-md-offset-1">			
								<div class="input-group">
									<span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-lock"></span></span>
									<input type="password" ng-model="password" placeholder="Enter your password" minlength="4" maxlength="50" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group col-md-12">
							<div class="col-md-10 col-md-offset-1">			
								<div class="input-group">
									<span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-lock"></span></span>
									<input type="password" ng-model="password2" placeholder="Please comfirm your password" minlength="4" maxlength="50" class="form-control">
								</div>
							</div>
						</div>
						<div class="form-group col-md-12">
							<div class="col-md-10 col-md-offset-1">			
								<div class="input-group">
									<span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-inbox"></span></span>
									<input type="email" ng-model="email" placeholder="Enter your email" minlength="4" maxlength="50" class="form-control">
								</div>
							</div>
						</div>t
						<div class="button-holder col-md-offset-1 col-md-1">
							<button type="submit" class="btn btn-success">Success</button>
						</div>
					</form>
				</div>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal for login -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">LOG IN</h4>
	      </div>
	      <div class="modal-body">
			<div class="login-container">
				<form ng-submit="login()" id="login-form">
					<div class="form-group col-md-12">
						<div class="col-xs-10 col-xs-offset-1">			
							<div class="input-group">
								<span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-user"></span></span>
								<input type="text" ng-model="username" placeholder="Enter your username" minlength="4" maxlength="50" class="form-control">
							</div>
						</div>
					</div>
					<div class="form-group col-md-12">
						<div class="col-xs-10 col-xs-offset-1">	
							<div class="input-group">
								<span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-lock"></span></span>
								<input type="password" ng-model="password" placeholder="Enter your password" minlength="4" maxlength="50" class="form-control">
							</div>
						</div>
					</div>
					<div class="button-holder col-md-offset-4 col-md-1">
						<button type="submit" class="btn btn-success">Success</button>
					</div>
				</form>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div id="views" ng-view></div>

	<footer class="text-center">
		<div class="col-xs-12">
			<a href="http://localhost:8000/#/">Home</a>
			<a href="http://localhost:8000/#/options">Options</a>
		</div>
		<div class="col-xs-12">
			<p>DC Roasters | All Rights Reserved</p>
		</div>
	</footer>

</body>
</html>