<div class="col-md-12 section-1">
	<h2>The coolest shoes around</h2>
	<div class="text-descript">New feature styles weekly</div>
	<div class="text-descript2">One-of-a-kind Collections</div>
</div>
<div class="title col-md-12">
<!-- 	<div class="triangle-wrapper"> -->
	<div id="triangle-down"></div>
<!-- 		<div id="triangle-topleft"></div>
	</div> -->
	<h2>How It Works</h2>
</div>
<div class="col-md-12 section-2">
	<h3>1. We get the hottest kicks</h3>
	<p class="text-dsecript">we showcase them here<br><br>make them available for you to purchase<br><br>Make it a new selection next week</p>
</div>
