<div class="container">
	<div class="login-title col-sm-offset-4 col-sm-1">
		<label>LOG IN</label>
	</div>
	<form ng-submit="login()" id="login-form">
		<div class="form-group col-md-12">
			<div class="col-md-4 col-md-offset-4">			
				<div class="input-group">
					<span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-user"></span></span>
					<input type="text" ng-model="username" placeholder="Enter your username" minlength="4" maxlength="50" class="form-control">
				</div>
			</div>
		</div>
		<div class="form-group col-md-12">
			<div class="col-md-4 col-md-offset-4">			
				<div class="input-group">
					<span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-lock"></span></span>
					<input type="password" ng-model="password" placeholder="Enter your password" minlength="4" maxlength="50" class="form-control">
				</div>
			</div>
		</div>
		<div class="button-holder col-md-offset-4 col-md-1">
			<button type="submit" class="btn btn-success">Success</button>
		</div>
	</form>
</div>