<div class="row text-center">
	<div class="center-block" id="payment-button">
<!-- 		<form action="/stripe" method="POST">
			<script
				src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				data-key="pk_test_uIlmc8NsFKhYPqMmNQHYpm7K"
				data-amount="2000"
				data-name="Time to Pay Up!"
				data-description="2 widgets"
				data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
				data-locale="auto">
			</script>
			<button  -->

	<button class="btn btn-default" id="custom-button" ng-click="payOrder()">Pay With Card</button>
	<button class="btn btn-default block-center" ng-click="cancel()">Cancel Order</button>
	</div>
</div>













